/*Header*/
.banner{
    width: 100%;
    
}
.navbar{
    background-color: black;
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
   width: 60px;
   border-radius: 50%;
   position: relative;  
   left: 35px;
   cursor: pointer;
   
}
.navbar ul li {
   display: inline-block;
   list-style: none;
   margin-right: 20px;
   right: 50px;
}
.navbar ul li a{
   text-decoration: none;
   color: #fff;
}
.navbar ul li {
   position: relative;
}

.navbar ul li::after {
   content: '';
   width: 0;
   height: 3px;
   background: orange;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease;
}

.navbar ul li:hover::after {
   width: 100%;
}

/*Menu*/

.menu {
    width: 100%;

}

.menu h1 {
    font-size: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;
}

.menu h1 span {
    color: aqua;
    margin-left: 15px;
    font-family: mv boli;
   
}


.menu h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: cyan;
    display: block;
    position: relative;
    bottom: 50px;
}

.menu .menu_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.menu .menu_box .menu_card {
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.menu .menu_box .menu_card .menu_image {
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
    
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: red;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: maroon;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
    font-weight: bold;
    font-style: italic;

}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
  
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: gold;
    text-align: center;
    margin: 10x 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

.menu_card{
    background-color: rgb(240, 235, 228);
 
}

.bg{
    background-color: rgba(9, 25, 40);
    margin: auto;
}

/*footer*/

.footer{
    width: 100vh;
    padding-top :40px;
    overflow: hidden;
    
    
}
.footer-container .row.container h1{
    font-size: 50px;
    
}
.footer-container{
    background-color: black;
    position: absolute;
    top:2020px;
    color:white;
    height: auto;
    width: 100%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    overflow-x: hidden;
}
.footer-container h3{
    color:white;   
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #FFA500;
}
.content-container{
    text-align: center;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


